html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #e4f1ed;
}

body {
  font-family: Arial, sans-serif;
  background: #e4f1ed;
  margin: 0;
  padding: 0;
}

.header {
  background: #74bd8b;
  text-align: center;
  padding: 10px 0 5px;
  color: white;
}

.header h1 {
  margin: 0;
  font-size: 32px;
}

.header h1 .akdemir,
.header h1 .gold {
  color: #383e42;
  font-weight: bold;
}

.header h2 {
  margin: 5px 0 0;
  font-size: 20px;
  font-weight: normal;
}

.header p {
  margin: 8px 0 15px;
  font-size: 20px;
  font-weight: bold;
  color: #383e42;
}

.container {
  width: 100%;
  background: #fff;
  min-height: calc(100vh - 140px);
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

th,
td {
  padding: 5px;
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid #328cc1;
}

th {
  font-weight: bold;
  background: #d9ead3;
  font-size: 18px;
}

.alis {
  color: #d7263d;
  font-weight: bold;
}

.satis {
  color: #1b998b;
  font-weight: bold;
}

.footer {
  background: #74bd8b;
  color: black;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  font-size: 14px;
}

.datetime {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 24px;
  color: #383e42;
  font-weight: bold;
}

.header {
  position: relative;
}

/* Küçük ekran - Telefon */
@media (max-width: 768px) {
  .datetime {
    position: static;
    margin-top: 8px;
    text-align: center;
    font-size: 16px;
  }
  .header h1 {
    font-size: 20px;
  }
  .header p {
    font-size: 18px;
  }
  th,
  td {
    font-size: 18px;
    padding: 10px;
  }
  table {
    font-size: 18px;
  }
  .row {
    display: block;
  }
  .row table {
    width: 100%;
  }
}

/* Orta ekran - Tablet / Laptop */
@media (min-width: 769px) and (max-width: 1279px) {
  .header h1 {
    font-size: 28px;
  }
  .header p {
    font-size: 18px;
  }
  .datetime {
    font-size: 16px;
  }
  th,
  td {
    font-size: 20px;
    padding: 8px;
  }
  .row {
    display: block;
  }
  .row table {
    width: 100%;
  }
}

/* Büyük ekran - TV */
@media (min-width: 1280px) {
  .header h1 {
    font-size: 40px;
  }
  .header p {
    font-size: 24px;
  }
  .datetime {
    font-size: 22px;
  }
  th,
  td {
    font-size: 28px;
    padding: 12px;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .row table {
    width: 50%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
  }
}
.thead-desktop-only {
  display: none;
}
@media (min-width: 1280px) {
  .thead-desktop-only {
    display: table-header-group;
  }
}
