html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #e4f1ed;
}

body {
  font-family: Arial, sans-serif;
  background: #e4f1ed;
  margin: 0;
  padding: 0;
}

.header {
  background: #74bd8b;
  text-align: center;
  padding: 10px 0 5px;
  color: white;
  position: relative;
}

.header h1 {
  margin: 0;
  font-size: 32px;
  color: #383e42;
  font-weight: bold;
}

.header p {
  margin: 8px 0 15px;
  font-size: 20px;
  font-weight: bold;
  color: #383e42;
}

.container {
  width: 100%;
  background: #fff;
  min-height: calc(100vh - 140px);
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

/* Tüm alt çizgiler kapalı */
th,
td {
  padding: 6px;
  font-size: 22px;
  text-align: left;
  font-weight: bold;
  border-bottom: none !important;
}

th {
  background: #d9ead3;
  font-size: 20px;
}
.alis,
.satis {
  border-bottom: none !important;
}

.alis {
  color: #d7263d;
}
.satis {
  color: #1b998b;
}

.footer {
  background: #74bd8b;
  color: black;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  font-size: 14px;
}

.datetime {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 24px;
  color: #383e42;
}

/* === Mobil (Telefon) === */
@media (max-width: 768px) {
  .datetime {
    position: static;
    text-align: center;
    font-size: 18px;
    margin-top: 8px;
  }

  .row {
    display: block;
  }

  .vitrin-slider {
    width: 100%;
    height: 35vh;
    margin: 20px 0;
    border-radius: 12px;
    overflow: hidden;
  }

  .vitrin-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* === Tablet / Küçük Laptop === */
@media (min-width: 769px) and (max-width: 1279px) {
  .row {
    display: block;
  }

  .vitrin-slider {
    width: 100%;
    height: 45vh;
    margin: 20px 0;
    border-radius: 12px;
    overflow: hidden;
  }

  .vitrin-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* === TV / Büyük Ekran === */
@media (min-width: 1280px) {
  .row {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    gap: 0;
    align-items: stretch;
  }

  .row table:first-child {
    grid-row: span 2;
  }

  .row table td,
  .row table th {
    font-size: 30px;
    padding: 12px;
  }

  .vitrin-slider {
    grid-column: 2;
    width: 100%;
    height: 40vh;
    background: #00000010;
    border-radius: 12px;
    margin-top: 10px;
    overflow: hidden;
  }

  .vitrin-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
table td,
table th {
  position: relative;
}

/* Satır boyunca, yazıya yakın, siyah çizgi */
table td::after,
table th::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8px; /* Yazıya olan mesafe - azaltıp/çoğaltabilirsin */
  height: 2px;
  background: #000;
}

/* En son satırda çizgi olmasın */
table tbody tr:last-child td::after {
  display: none;
}
