html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #e4f1ed;
}

body {
  font-family: Arial, sans-serif;
  background: #e4f1ed;
  margin: 0;
  padding: 0;
}

.header {
  background: #74bd8b;
  text-align: center;
  padding: 10px 0 5px;
  color: white;
  position: relative;
}

.header h1 {
  margin: 0;
  font-size: 32px;
}

.header h1 .akdemir,
.header h1 .gold {
  color: #383e42;
  font-weight: bold;
}

.header p {
  margin: 8px 0 15px;
  font-size: 20px;
  font-weight: bold;
  color: #383e42;
}

.container {
  width: 100%;
  background: #fff;
  min-height: calc(100vh - 140px);
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

th,
td {
  padding: 5px;
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  border-bottom: none !important;
}

th {
  font-weight: bold;
  background: #d9ead3;
  font-size: 18px;
}

.alis {
  color: #d7263d;
  font-weight: bold;
}

.satis {
  color: #1b998b;
  font-weight: bold;
}

.footer {
  background: #74bd8b;
  color: black;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  font-size: 14px;
}

.datetime {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 24px;
  color: #383e42;
  font-weight: bold;
}

/* === KÜÇÜK EKRAN === */
@media (max-width: 768px) {
  .datetime {
    position: static;
    margin-top: 8px;
    text-align: center;
    font-size: 16px;
  }
  .row {
    display: block;
  }
  .row table {
    width: 100%;
  }
  th,
  td {
    font-size: 18px;
    padding: 10px;
  }
}

/* === ORTA EKRAN === */
@media (min-width: 769px) and (max-width: 1279px) {
  .row {
    display: block;
  }
  .row table {
    width: 100%;
  }
  th,
  td {
    font-size: 20px;
    padding: 8px;
  }
}

@media (min-width: 1280px) {
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 sütun */
    grid-template-rows: auto auto; /* 2 satır */
    gap: 20px;
    align-items: start;
  }

  /* Tablo 1 sol üst */
  .row table:first-child {
    grid-column: 1;
    grid-row: 1;
  }

  /* Tablo 2 sağ üst */
  .row table:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }

  /* Slider SADECE sağ alt */
  .vitrin-slider {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    height: 350px;
    background: #00000010;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .vitrin-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.7s ease-in-out;
  }
}
